aiogram==2.25.1
aiogram-dialog
aiogram-contrib
aiogram-calendar
aiogram-widgets
aiogram-inline-paginations
aiogram-i18n
SQLAlchemy
alembic
python-dotenv
aiocache
httpx
apscheduler
uvloop
gunicorn
uvicorn
redis